outputs/NetFixInspector-package.zip filter=lfs diff=lfs merge=lfs -text
outputs/NetFixInspector-Electron-With-FFmpeg.zip filter=lfs diff=lfs merge=lfs -text
outputs/NetFixInspector-Electron/NetFixInspector.exe filter=lfs diff=lfs merge=lfs -text
